body {
  background: url('http://s23.postimg.org/wva6e8cmz/photo_1440557958969_404dc361d86f.jpg') no-repeat top right fixed;
  background-size: cover;
}

.site-wrapper {
  padding-top: 10vh;
}

#random-quote {
  border-left: 0;
  padding: 1em;
  position: relative;
}

#random-quote i {
  position: absolute;
  left: 0;
  top: .1em;
  color: #DE703C;
  opacity: .8
}

#random-quote p {
  font-family: 'Lato', sans-serif;
  padding: 1em;
  font-size: 3vmin;
  background-color: rgba(255, 251, 224, 0.2);
  border-radius: 5px;
}

#random-quote footer {
  font-family: 'Source Sans Pro', sans-serif;
  color: #DE703C;
  font-size: 2vmin;
  padding: .5em;
  display: inline-block;
  float: right;
  margin-top: -2em;
  margin-right: -2em;
  text-align: left;
  background-color: rgba(255, 180, 0, 0.2);
  border-radius: 5px;
}

#buttons {
  margin-top: 1em;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  padding: 5px;
  width: auto;
  min-width: 75%;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background: none;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.btn {
  color: #E2EFF1;
  border: 2px solid rgba(255, 251, 224, 0.2);
  line-height: 32px;
  vertical-align: middle;
}

.btn:hover {
  color: #DE703C;
  border: 2px solid #DE703C;
  transition: all .25s ease;
}

.btn:focus,
.btn:active,
.btn.active,{
  color: #FFB400;
  border: 2px solid #FFB400;
  background: none;
}

.btn i {
  display: block;
  font-size: 32px;
  margin-bottom: 2px;
  color: #DE703C;
}

#random-quote-button {
  text-align: left;
  float: right;
}

#random-quote-button i {
  float: right;
}

#tweet-button {
  text-align: right;
  float:left;
}

#tweet-button i {
  float: left;
}

.btn:active, .btn.active {
  box-shadow: none;
}